<% provide(:title, t(:show_club)) %>

<div class="page-header">
	<h1><%= t(:show_club) %></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name) %>:</b>
  <%= @club.name %>
</p>

<%= link_to t(:edit), edit_club_path(@club), class: "btn" %>
<%= link_to t(:back), clubs_path, class: "btn" %>

