<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :club_id %> <%= f.select(:club_id, options_from_collection_for_select(Club.all, "id", "name", f.object.club_id || 0), :include_blank => true)  %><br />
  </div>
  <div class="field">
    <%= f.label :event_id %> <%= f.select(:event_id, options_from_collection_for_select(Event.all, "id_event", "event_name", f.object.event_id || 0))  %><br />
  </div>
  <div class="field">
    <%= f.label :subevent_id %> <%= f.select(:subevent_id, options_from_collection_for_select(Subevent.all, "id", "name", f.object.subevent_id || 0), :include_blank => true)  %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
