<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Club:</b>
  <%= @team.club.name if @team.club %>
</p>

<p>
  <b>Event:</b>
  <%= @team.event.event_name %>
</p>

<p>
  <b>Subevent:</b>
  <%= @team.subevent.name if @team.subevent %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
