<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@event.errors.count, t(:error), t(:save_error, :entity_name => t(:event))) %></h2>
	<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="well form-vertical">
	<div class="field">
		<%= f.label t(:name) %>
		<%= f.text_field :event_name %>
	</div>	
	<div class="field">
		<%= f.label t(:starttime) %>
		<%= f.datetime_select(:event_begin) %>
	</div>
	<div class="field">
		<%= f.label t(:endtime) %>
		<%= f.datetime_select(:event_end) %>
	</div>		
			
	<%= f.submit t(:submit), class: "btn-primary" %>
	
</div>
<% end %>
