<%= form_for(@competitor) do |f| %>
  <% if @competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% @competitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :card_id %><br />
    <%= f.number_field :card_id %>
  </div>
  <div class="field">
    <%= f.radio_button :gender, "M" %>
    <%= f.label :gender_men, "Men" %>
    <%= f.radio_button :gender, "W" %>
    <%= f.label :gender_woman, "Women" %>
  </div>
  <div class="field">
    <%= f.label :year_of_birth %>
    <%= f.select(:year_of_birth, 1910..Time.now.year, :selected => (f.object.year_of_birth || Time.now.year)) %>
  </div>
  <div class="field">
    <%= f.label :club_id %> <%= f.select(:club_id, options_from_collection_for_select(Club.all, "id", "name", f.object.club_id || 0), :include_blank => true)  %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
