<% provide(:title, t(:show_competitor)) %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:first_name) %>:</b>
  <%= @competitor.first_name %>
</p>

<p>
  <b><%= t(:last_name) %>:</b>
  <%= @competitor.last_name %>
</p>

<p>
  <b><%= t(:card_id) %>:</b>
  <%= @competitor.card_id %>
</p>

<p>
  <b><%= t(:gender) %>:</b>
  <%= @competitor.gender %>
</p>

<p>
  <b><%= t(:year_of_birth) %>:</b>
  <%= @competitor.year_of_birth %>
</p>

<p>
  <b><%= t(:club) %>:</b>
  <%= @competitor.club.name if @competitor.club %>
</p>


<%= link_to t(:edit), edit_competitor_path(@competitor) %> |
<%= link_to t(:back), competitors_path %>
