<ul class="nav nav-list">
	<li class="nav-header">
		<%= t(:base_data) %>
	</li>
	<li>
		<%= link_to t(:competitors), competitors_path %>
	</li>
	<li>
		<%= link_to t(:clubs), clubs_path %>
	</li>
	<li class="nav-header">
		<%= t(:event_data) %>
	</li>
	<li>
		<%= link_to t(:events), events_path %>
	</li>
	<li>
		<%= link_to t(:subevents), subevents_path %>
	</li>
	<li>
		<%= link_to t(:event_competitors), event_competitors_path %>
	</li>
	<li></li>
	<li>
		<%= link_to t(:teams), teams_path %>
	</li>
	<li>
		<%= link_to t(:team_competitors), team_competitors_path %>
	</li>
	<li class="nav-header">
		<%= t(:event_reports) %>
	</li>
	<li>
		<%= link_to t(:event_competitors), reports_event_competitors_path %>
	</li>
	<li>
		<%= link_to t(:event_results), reports_event_results_path %>
	</li>
	<li>
		<%= link_to t(:event_temporary_results), reports_event_temporary_results_path %>
	</li>
	<li>
		<%= link_to t(:event_station_results), reports_event_station_results_path %>
	</li>
</ul>
